[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/xchain-helpers"]
	path = lib/xchain-helpers
	url = https://github.com/marsfoundation/xchain-helpers
[submodule "lib/aave-v3-periphery"]
	path = lib/aave-v3-periphery
	url = https://github.com/aave/aave-v3-periphery
[submodule "lib/sparklend-v1-core"]
	path = lib/sparklend-v1-core
	url = https://github.com/marsfoundation/sparklend-v1-core
[submodule "lib/spark-address-registry"]
	path = lib/spark-address-registry
	url = https://github.com/marsfoundation/spark-address-registry
[submodule "lib/erc20-helpers"]
	path = lib/erc20-helpers
	url = https://github.com/marsfoundation/erc20-helpers
